@{
    ViewData["Title"] = "Contact";
}

<br />
<address>
    Address:
    Dacono, CO 80514<br />
    Cell:
    972-801-7161<br />
    <a href="mailto:gregcraig23@gmail.com" class="link">gregcraig23@gmail.com</a>
</address>